# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics
###### Markdown Basics

* **Point1** (Bold)
* *point2* (itallic)
* ***point3*** (bold and itallic)

* Normal Test
 * sublist 1
 * sublist 2
 
 > 1. point1
 > 2. point2
 
 * ***Adding Links to Markdown***
 
 * Google site -- [1]: http://www.google.com
 * msn site    -- [2]: http://www.msn.com
 
 - .[.].option 1
 
 * Google site -- .[Google].[1]
 [1]: http://www.google.com

### Python Basics
* Python version 3.7
- Functional Programming
- Object oriented Programming
- Scripting Programming

In [1]:
print("hello,GITAM")

hello,GITAM

In [2]:
print("hello,gitam")
print("Hyderabad")

hello,gitam
Hyderabad

In [3]:
print("Hello,Gitam"," ||| " ,end = " ")
print("Hyderabad", end=" ||| ")
print("Python Programming")

Hello,Gitam  |||  Hyderabad ||| Python Programming

# ASSIGNMENT

In [5]:
n1 = 100
a = b = c = 20
a1,b1,c1 = 111, 222, 333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data types and conversions

* int
* float
* string

In [9]:
a = 100;
s1 = "Python" 
s2 = 'P'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 Python P 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [11]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))

f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [15]:
a1 = 345657
print(len(str(a1)))

6

# Reading a value
 
 * input("message")--string

In [16]:
s1 = input("enter your name")
print(s1)
print(type(s1))

enter your nameJAINA MEGHANA
JAINA MEGHANA
<class 'str'>

In [17]:
n1 = int(input("enter a number"))
print(n1,type(n1))

enter a number5
5 <class 'int'>

## Operators
  * operator is a symbol used to perform a specific kind of operations
  
## ARITMETIC OPERATORS
  * // returns quotient in int
  * ** returns power of number
  * % returns remainder in int
  * *
  * / returnsquotient in float
  * +
  * -

In [20]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### PRECEDENCE OF THE  ARTH OPERATORS

- parenthesis
- power
- multiplication
- addition

left to right

In [22]:
x = 1 + 2 ** 3  / 4 + 5
print(x)

8.0

In [23]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### RELATIONAL OPERATORS

- ==
- !=
- greater(>)
- less than(<)
- less than or equals to(<=)
- greater than or equals to(>=)

In [25]:
x = 10
a1 = x > 5
print(a1)

True

### logical operators
* used to combine more than single condition
* and
* or
* not

In [26]:
i = 100
a1 = (i>15) and (i < 800)
a2 = (i > 15) and (i > 800)
print(a1)
print(a2)

True
False

### CONTROL FLOW STATEMENTS
- Conditional statements
- looping statements

### if-else statements

     #SYNTAX

 if boolean_condition:
   statements
   else:
   statements

In [27]:
#TO CHECK EVEN OR ODD
n = int(input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a number16
even

In [28]:
#to check given number is perfectly multiple of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter a number15
yes

In [29]:
# test given number is positive, negative or zero 
n = int(input("enter a number"))
if n == 0:
    print("zero")
elif n>0:    
    print("positive number")
elif n<0:
    print("negative number")

enter a number17
positive number

In [30]:
number1 = input("first number")
number2 = input("second number")
sum = float(number1) + float(number2)
print ("the sum of {o} and {1} is {2}") .format (number1,number2, sum )

first number3
second number3
the sum of {o} and {1} is {2}

AttributeError: 'NoneType' object has no attribute 'format'